@import "variables.scss";

@mixin icon-scale($height) {
  width: 4 * ($height/3);
  height: $height;
}

nav {
  z-index: 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
	margin: 1em auto 0 auto;
  box-shadow: 3px 6px 9px $transparent-gray;
  
  font-family: "Jolly Night";

	.nav-item {
    position: relative;
    width: 90vw;
    padding: 1rem 3rem;
    border-top: 2px solid $transparent-white;
    font-size: $link-size;
		color: #FFFFFF;
    transition: 
      background ease-in-out 300ms,
      transform ease-in-out 300ms;
    
    &#active{
      align-items: baseline;
    }
    
    &:hover,  &#active {
			border-top: 2px solid $primary;
			background-color: $transparent-white;
    }
  }
}

@media only screen and (min-width: $meadia-query-bp){
  nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .nav-item{
      width: auto;
      min-width: auto;
      border-top: 2px solid $accent;

      &#active{
        min-width: 0;
      }

      &:not(#active){
        transform: scaleY(1);
      }
      span{
        font-size: 0;
      }
    }
  }
}


#nav-icon {
  @include icon-scale($link-size);
  padding: 0;
  position: relative;
  float: right;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
  cursor: pointer;

  span{
    display: block;
    position: absolute;
    height: 18%;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: ease-in-out 400ms;

    &:nth-child(1){
      top: 0%;
      background: $primary-brighter;
    }
    
    &:nth-child(2), &:nth-child(3){
      top: 41%;
      background: $primary-dark;
    }

    &:nth-child(4){
      top: 82%;
      background: $primary-darker;
    }
  }

  &.open span{
    &:nth-child(1), &:nth-child(4){
      top: 0.5em;
      width: 0%;
      left: 50%;
      background: $accent;
    }
    
    &:nth-child(2){
      transform: rotate(45deg);
      background: $accent-dark;
    }

    &:nth-child(3){
      transform: rotate(-45deg);
      background: $accent-darker;
    }
  }
}

@media only screen and (min-width: $meadia-query-bp) {
  #nav-icon{
    width: 0;
    height: 0;
  }
}