nav {
  z-index: 10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em auto 0 auto;
  -webkit-box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.3);
  font-family: "Jolly Night";
}

nav .nav-item {
  position: relative;
  width: 90vw;
  padding: 1rem 3rem;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  font-size: 1.2rem;
  color: #FFFFFF;
  -webkit-transition: background ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
  transition: background ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
  transition: background ease-in-out 300ms, transform ease-in-out 300ms;
  transition: background ease-in-out 300ms, transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
}

nav .nav-item#active {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-width: 490px;
}

nav .nav-item:hover, nav .nav-item#active {
  border-top: 2px solid #03C2D4;
  background-color: rgba(255, 255, 255, 0.15);
}

@media only screen and (min-width: 1070px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-item {
    width: auto;
    min-width: auto;
    border-top: 2px solid #FF7800;
  }
  nav .nav-item#active {
    min-width: 0;
  }
  nav .nav-item:not(#active) {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  nav .nav-item span {
    font-size: 0;
  }
}

#nav-icon {
  width: 1.6rem;
  height: 1.2rem;
  padding: 0;
  position: relative;
  float: right;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 18%;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: ease-in-out 400ms;
  transition: ease-in-out 400ms;
}

#nav-icon span:nth-child(1) {
  top: 0%;
  background: #018995;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 41%;
  background: #016069;
}

#nav-icon span:nth-child(4) {
  top: 82%;
  background: #002C30;
}

#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(4) {
  top: 0.5em;
  width: 0%;
  left: 50%;
  background: #FF7800;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #AC5100;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #4F2500;
}

@media only screen and (min-width: 1070px) {
  #nav-icon {
    width: 0;
    height: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */