*{
    box-sizing: border-box;
    margin: 0;
    border-radius: 12px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 231, 94);
}

h1, h2, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
    color: white;
}

a{
    font-weight: bold;
    color: darkorange;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

header{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 90vw;
    background-color: green;
     img{
        width: 100%;
        max-width: 800px;
        min-width: 260px;
        box-shadow: 3px 6px 9px rgba($color: #000000, $alpha: 0.4);
    }
}

main{
    display: flex;
    flex-direction: row;
    margin: 3vw;
    max-width: 90vw;
    background-color: darkgreen;
    box-shadow: 3px 6px 9px rgba($color: #000000, $alpha: 0.4);
    article{
        padding: 2%;
        width: 50%;
    }

    aside{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        width: 50%;
        background-color: green;
    }
} 

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    margin-top: 0;
    width: 90vw;
    background-color: darkgreen;
    box-shadow: 3px 6px 9px rgba($color: #000000, $alpha: 0.4);
}


@media only screen and (max-width: 1024px){
    main{
        display: initial;

        article{
            width: 100%;
        }

        aside{
            width: 100%;
        }
    }
}